<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div formGroupName="user">
          <div class="form-group">
            <label for="name">Name *</label>
            <input id="name"
                   formControlName="name"
                   class="form-control">
            <ng-container *ngIf="name.touched">
              <span class="help-block"
                    *ngIf="name.errors?.required">Nom obligatoire.</span>
              <span class="help-block" *ngIf="name.errors?.exists">Nom existe déjà.</span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-control">
            <ng-container *ngIf="email.touched">
              <span class="help-block" *ngIf="email.errors?.required">Email obligatoire.</span>
              <span class="help-block" *ngIf="email.errors?.email">Email invalide.</span>
              <span class="help-block" *ngIf="email.errors?.exists">Email existe déjà.</span>
            </ng-container>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender"
                  formControlName="gender"
                  class="form-control">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender.label }}</option>
          </select>
        </div>
        <div formArrayName="hobbies" class="form-group">
          <h4>Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div *ngFor="let hobby of getHobbiesControls(); index as i">
            <input class="form-control" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
