<h3>Tasks List</h3>
<div class="input-group">
  <input class="form-control">
  <div class="input-group-btn">
    <button class="btn btn-success">
      Ajouter
    </button>
    <button class="btn btn-info">
      Modifier
    </button>
  </div>
</div>
<br/>
<div>
  Task Title
  <div class="btn-group pull-right">
    <button class="btn btn-info btn-xs">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <br>
  <br>
</div>
<h3>
  Aucune Task trouvée, veuillez en rajouter.
</h3>
